body 
{
    font: 10pt Arial, Helvetica, sans-serif; 
    background: white; /**/
}

a
{
	text-decoration: none;
	color: #003366;
}

a:hover
{
	color: green;
}

#wrapper
{
	width: 1010px;
	margin: 0 auto;
	margin-top: -10px;
}

#header 
{
	height: 110px;
	width: 100%;
	border-radius: 10px; 
	background: #8fa09b; 
    color: white; /**/
}

#header .logo
{
	float: left;
	margin-left: 15px;
}

#header .menu
{
	float: right;
}

#header  a
{
	color: white; /**/
	padding: 2px;
}

#content 
{	
	width: 100%;
	clear: right;
	min-height: 500px;
	background: white; /**/
	/*padding: 10px;*/
	/*border: 10px solid black;*/
}

#sidebar 
{
    float: left;  
    width: 120px;
	min-height: 400px;
	border: 1px solid #003366;
    padding: 10px 10px 10px 10px;  
	margin: 20px 20px 20px 20px;
	background: white; /**/	
	color:#003366;
}

#footer
{
	clear: left;
	height: 20px;
	/*width: 980px;*/
	margin-top: 30px;
	padding: 10px;	
	text-align: right;
	background: #8fa09b;
	border-radius: 10px;	
    color: white;	/**/
}

table td
{
	background: white;
	padding: 5px;
	border: 1px solid #e1dfb9;
}